<p *ngIf="selezioneBut == 1">
  Inserire nome del monumento: <br>
  <input #nNome><br><br>
  Inserire posizione del monumento: <br>
  <input #nPos class="box"><br><br>
  Inserire QRCode: <br>
  <input #nqrc class="box"><br><br>
  Inserire Etichetta: <br>
  <input #nEtic><br><br>
   Inserire Url: <br>
  <input #nUrl class="box"><br><br>

  Premere conferma per memorizzare  il monumento
  <br><br>

  <button (click) = "conferma(nNome.value, nPos.value, nqrc.value, nEtic.value, nUrl.value)" >conferma</button>
  <br><br>
  <button (click) = "annulla()" >annulla</button>

</p>